
body{
    background-image: url(img/Fondo.pagina.jpg);
    background-size: cover;
    background-position: center center;
    font-family: 'Pacifico', cursiva;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    width: 100%;
    align-items: center;
}
.logo{
    display: flex;
    width:10%;
    align-items: flex-start;
}

.nombre{
   
    font-size: xx-large;
}
.nombre a{
    text-decoration: none;
    color: beige;
}
.btn-redes{
    display: flex;
    align-items: center;
   justify-content: end;
}
.btn-redes a{
    font-size: 30px;
    padding: 15%;

}
.btn-redes a:hover{
    transform: scale(1.2);
}

.Tabla{
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: larger;
    justify-content: space-between;
    font-family: 'Pacifico', cursiva; 
    background-color: #3E4C21;
    width: 100%;
    height:30px ;
    
}
.Tabla li a {
   display: inline-block;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 0 20px;
   color:beige;
  
}   
.Tabla li a:hover{
    transform: scale(1.1);
    color: rgb(235, 235, 122);
}

.data{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
}
.data li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.logo img{
    width: 130px;
    height:130px;
    
}

.menu{
    background-color: #A5C663;
   display: flex;
   margin: 20px ;
   margin-left:0 ;
   margin-right: 0;
   padding: 0px;
   border: 10px;
   border-radius: 15px;
   border-color: #3E4C21;
}
.imagennoticia{
    padding: 20px;
    width: 500px;
    height: 300px;
    border-radius:15px ;
}


   
.noticia1{
    display: flex;
}
.parrafo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu2{
    display: flex;
    justify-content: start;
   
   
}

.contenedor2{
    background-color: #1229ad;
    display: flex;
    width: 600px;
    height: 400px;
    margin: 10px;
    background-color: #A5C663;
    margin: 0 auto;
 
}
.contenedornoticias{
    margin: 10px ;
}
.contenedornoticias img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.contenedornoticias p{
    font-size:x-large ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resumen{
    width: 100%;
    height: 20px;
    background-color: #3E4C21;
    font-size:x-large ;
    padding: 15px 303.7px;
    padding-top: 3px;
    margin-bottom: 0px;
    color: white;
    border: 5px;
    border-color: solid #0f362d;
    text-decoration: none ;
}
    
.resumen:hover {
    transform: scale(1.2);
    color: rgb(235, 235, 122);
}

.subcontenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.subcontenedor a{
    text-decoration:underline;
    color: black;
}
.subcontenedor a:hover{
color: #3E4C21;
}
.subcontenedor a p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mini1{
    margin: 30px 5px ;
    background-color: #A5C663;
    width: 31%;
    border-radius: 15px;
}
.mini1 img{
    padding: auto 0;
    
}
.mini2{
    margin: 30px 5px ;
    background-color: #A5C663;
    width: 31%;
    border-radius: 15px;
}
.mini3{
    margin: 30px 5px ;
    background-color: #A5C663;
    padding: 0px;
    width: 31%;
    border-radius: 15px;
    
}
    
.tabladeposiciones{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: white;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;    
    }
       tbody {
        color: rgb(0, 0, 0);
    }
       tfoot {
        color: rgb(0, 0, 0);
    }
       table, td, tr {
        border-collapse: collapse;
    }
      table{
          width: 50%;
          text-align: left ;
    }
    th{
        background-color: #246355;
        border-bottom: solid 5px #0f362d;
        color: white;
    }
    tr:nth-child(even){
        background-color:#ddd;
    }

    /*MENU 3*/
    .menu3{
        display: flex;
        justify-content: space-between;
    }
    .proxpartidos{
        width: 45%;
       background-color: #A5C663;
       padding: 3px;
    }
    .proxpartidos li{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .imagproxpartido{
        padding-right: 3px;
    }
   



    
    /*Formulario*/

    form{
        background-color:rgb(255, 255, 255);
        margin:auto;
        padding:5%;
        width: 300px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 15px;
        
    }
    
    .register{
        border-radius: 3px;
        display: inline-block;
        padding: 15px 10px;
        text-decoration: none;
        color: white;
        background-color: rgb(32, 207, 32);
        margin: 10px;
        margin-left: 30px;
        width: 200px;
        
    }
    .register:hover {
        background-color: rgb(46, 184, 46);
    }
    .register:active{
        background-color: #29962a;
    }

     input{
        width: 100%;
        height: 50px;
        border-color: rgb(86, 87, 86);
 
        
    }
